:root{
    --color_primary: #E76F51;
    --color_secondary:#f38e74;
    --color_background: #FAF4F2;
    --color_background_section-contact:#F8E1DB;
    --color_button_text:#8D8D8D;
    --color_button_read:#F3F3F3;
    --color_button_text_price:#EC9079;

    --color_black:#3B3735;
    --color_white:#FFFFFF;
    --color_gray: #F3F3F3;
}